@import "tailwindcss";

:root {
  /* Petshop Blue & Pink Theme */
  --petshop-blue: #8cbcc7;
  --petshop-blue-light: #a8d0db;
  --petshop-pink: #f7c6d9;
  --petshop-pink-accent: #f06292;
  --petshop-pink-dark: #e64980;
}

body {
  font-family: "Inter", sans-serif;
}

@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s)
    var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}
