@import "tailwindcss";

@theme {
  --color-atk-primary: #f7374f;
  --color-atk-secondary: #88304e;
  --color-atk-tertiary: #522546;
  --color-atk-dark: #2c2c2c;
}

:root {
  --atk-primary: #f7374f;
  --atk-secondary: #88304e;
  --atk-tertiary: #522546;
  --atk-dark: #2c2c2c;
  --atk-primary-rgb: 247, 55, 79;
  --atk-secondary-rgb: 136, 48, 78;
  --atk-tertiary-rgb: 82, 37, 70;
  --atk-dark-rgb: 44, 44, 44;
}

body {
  font-family: "Inter", sans-serif;
}

@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s)
    var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}
